################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Nop.Plugin.Widgets.SalesCampaigns/obj/Debug/net6.0
/Nop.Plugin.Widgets.SalesCampaigns/obj/Release/net6.0
/Nop.Plugin.Widgets.SalesCampaigns/obj
